<ion-header>
    <ion-navbar color="header">
        <ion-title text-wrap>{{"Address" | translate}} </ion-title>
        <ion-buttons end>
    <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" style="color: #000; font-size: 20px; margin: 16px;"></ion-icon>
      </button>
    </ion-buttons>
</ion-navbar>
</ion-header>
<ion-content text-wrap class="change-address-form">
    <ion-card>
        <ion-card-header style="background-color: #f5f5f5"> {{"Billing Address" | translate}} </ion-card-header>
        <form #f="ngForm" class="form">
            <ion-list no-margin>
                <ion-item>
                    <ion-label floating>{{"First Name" | translate}} </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_first_name" name="firstname"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>{{"Last Name"| translate}} </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_last_name" name="lastname"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>{{"Phone" | translate}} </ion-label>
                    <ion-input required type="number" [(ngModel)]="form.billing_phone" name="telephone"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>{{"Street Address" | translate}} 1 </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_address_1" name="street1"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>{{"Street Address" | translate}} 2 </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_address_2" name="street2"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>{{"Email" | translate}} </ion-label>
                    <ion-input required type="email" [(ngModel)]="form.billing_email" name="email"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>{{"City" | translate}} </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_city" name="city"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>{{"Postcode" | translate}} </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_postcode" name="postcode"> </ion-input>
                </ion-item>

                <ion-item class="select-item-field">
                    <ion-label> {{"Country" | translate}} </ion-label>
                    <ion-select okText="{{'OK' | translate}}" cancelText="{{'Cancel' | translate}}" [(ngModel)]="form.billing_country" (ngModelChange)="getRegion(form.billing_country)" name="billing_country">
                        <div *ngFor="let field of form.country.countries | keys">
                            <ion-option value="{{field.key}}"><span [innerHTML]="field.value"></span> </ion-option>
                        </div>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="states" class="state">
                    <ion-label> {{"State" | translate}} </ion-label>
                    <ion-select [(ngModel)]="form.billing_state" name="billing_state">
                        <div *ngFor="let field of states | keys">
                            <ion-option value="{{field.key}}">{{field.value}} </ion-option>
                        </div>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="!states" class="state">
                    <ion-label floating> {{"State" | translate}} </ion-label>
                    <ion-input required type="text" [(ngModel)]="form.billing_state" name="billing_state"> </ion-input>
                </ion-item>

                <ion-item *ngIf="!values.isLoggedIn">
                    <ion-label floating>{{"Choose Password" | translate}} </ion-label>
                    <ion-input required type="password" [(ngModel)]="form.password" name="password"> </ion-input>
                </ion-item>

            </ion-list>

            <!--ion-item *ngIf="!values.isLoggedIn" no-lines class="side-heading-background create-account">
                <ion-label color="side-heading-color">{{"Create Account" | translate}} </ion-label>
            </ion-item>
            <ion-item>
                <ion-label floating>{{"Password" | translate}} </ion-label>
                <ion-input required type="password" [(ngModel)]="form.password" name="password"> </ion-input>
            </ion-item-->
            
        </form>

         <div class="check-box">
            <ion-item no-lines style="border: none">
                <ion-label>{{"Deliver to a different address" | translate}}? </ion-label>
                <ion-checkbox [(ngModel)]="form.shipping" name="shipping" checked="false"> </ion-checkbox>
             </ion-item>
        </div>


        <div *ngIf="form.shipping">
        <ion-card-header style="background-color: #f5f5f5"> {{"Shipping Address" | translate}} </ion-card-header>
        <form #f="ngForm" class="form">
            <ion-list no-margin>
            <ion-item>
                <ion-label floating>{{"First Name" | translate}} </ion-label>
                <ion-input required type="text" [(ngModel)]="form.shipping_first_name" name="first_name"> </ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label floating>{{"Last Name"| translate}} </ion-label>
                <ion-input required type="text" [(ngModel)]="form.shipping_last_name" name="last_name"> </ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label floating>{{"Street Address" | translate}}</ion-label>
                <ion-input required type="text" [(ngModel)]="form.shipping_address_1" name="address_1"> </ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label floating>{{"Apartment" | translate}}, {{"suite" | translate}}, {{"unit" | translate}} {{"etc" | translate}}</ion-label>
                <ion-input required type="text" [(ngModel)]="form.shipping_address_2" name="address_2"> </ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label floating>{{"City" | translate}} </ion-label>
                <ion-input required type="text" [(ngModel)]="form.shipping_city" name="shipping_city"> </ion-input>
            </ion-item>
            
             <ion-item>
                <ion-label floating>{{"Postcode" | translate}} </ion-label>
                <ion-input required type="text" [(ngModel)]="form.shipping_postcode" name="shipping_postcode" (ngModelChange)="updateOrderReview()"> </ion-input>
            </ion-item>

            <ion-item class="select-item-field">
                <ion-label> {{"Country" | translate}} </ion-label>
                <ion-select okText="{{'OK' | translate}}" cancelText="{{'Cancel' | translate}}" [(ngModel)]="form.shipping_country" (ngModelChange)="getRegion(form.shipping_country)" name="shipping_country">
                    <div *ngFor="let field of form.country.countries | keys">
                        <ion-option value="{{field.key}}"><span [innerHTML]="field.value"></span> </ion-option>
                    </div>
                </ion-select>
            </ion-item>
            
            <ion-item *ngIf="states">
                <ion-label> {{"State" | translate}} </ion-label>
                <ion-select [(ngModel)]="form.shipping_state" name="form.shipping_state">
                    <div *ngFor="let field of states | keys">
                        <ion-option value="{{field.key}}">{{field.value}} </ion-option>
                    </div>
                </ion-select>
            </ion-item>
            
            <ion-item *ngIf="!states">
                <ion-label floating *ngIf="!states">{{"State" | translate}} </ion-label>
                <ion-input required type="text" [(ngModel)]="form.shipping_state" name="form.shipping_state"> </ion-input>
            </ion-item>

            </ion-list>
            
        </form>
    </div>

    <div>
        <button ion-button color="button-color" text-uppercase (click)="saveAddress()" block secondary type="submit" class="button button-block button-default">{{"Save Address" | translate}}
        </button>
    </div>

    </ion-card>
</ion-content>